Source: buckytools
Section: main
Priority: optional
Maintainer: Jack Neely <jjneely@42lines.net>
Build-Depends: debhelper (>= 9.0.0), golang (>= 1.4), dh-golang, python-all
Standards-Version: 3.9.7
Homepage: https://github.com/jjneely/buckytools
#Vcs-Git: git://git.debian.org/collab-maint/buckytools.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/buckytools.git;a=summary

Package: buckytools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Management tool for large Graphite clusters
 Buckytools is a Golang server daemon, CLI client and utility programs
 designed to help manage a large consistent hashing Graphite cluster.
